{% extends 'plantillaprincipal.html' %}
{% load static %}

{% block contenido %}
    <!-- Hero Section Begin -->
    <section class="hero-section">
        <div class="hero-items owl-carousel">
            <div class="single-hero-item set-bg" data-setbg="{% static 'img/slider-bg-1.jpg' %}">
                <div class="container">
                    <div class="hero-text">
                        <h4>Elite Personal Training Services</h4>
                        <h1>Make it <span>Shape</span></h1>
                        <a href="#" class="primary-btn">Join Us Now</a>
                    </div>
                </div>
            </div>
            <div class="single-hero-item set-bg" data-setbg="{% static 'img/slider-bg-2.jpg' %}">
                <div class="container">
                    <div class="hero-text">
                        <h4>Elite Personal Training Services</h4>
                        <h1>Make it <span>Shape</span></h1>
                        <a href="#" class="primary-btn">Join Us Now</a>
                    </div>
                </div>
            </div>
            <div class="single-hero-item set-bg" data-setbg="{% static 'img/slider-bg-3.jpg' %}">
                <div class="container">
                    <div class="hero-text">
                        <h4>Elite Personal Training Services</h4>
                        <h1>Make it <span>Shape</span></h1>
                        <a href="#" class="primary-btn">Join Us Now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Services Section Begin -->
    <section class="services-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-title">
                        <h2>Our Program</h2>
                        <p>Our fitness experts can help you discover new training techniques and exercises that offer a dynamic and efficient full-body workout.</p>
                    </div>
                    <div class="services-items">
                        <div class="single-service-item">
                            <img src="{% static 'img/icon-1.png' %}" alt="">
                            <h5>Weight Lifting</h5>
                            <p>We have a wide choice of classes that are a great complement to any training programme.</p>
                        </div>
                        <div class="single-service-item color-1">
                            <img src="{% static 'img/icon-2.png' %}" alt="">
                            <h5>Body Building</h5>
                            <p>We have a wide choice of classes that are a great complement to any training programme.</p>
                        </div>
                        <div class="single-service-item color-2">
                            <img src="{% static 'img/icon-3.png' %}" alt="">
                            <h5>Healthy</h5>
                            <p>We have a wide choice of classes that are a great complement to any training programme.</p>
                        </div>
                        <div class="single-service-item color-3">
                            <img src="{% static 'img/icon-4.png' %}" alt="">
                            <h5>Yoga</h5>
                            <p>We have a wide choice of classes that are a great complement to any training programme.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1">
                    <div class="service-video set-bg" data-setbg="{% static 'img/video-bg.jpg' %}">
                        <div class="play-btn">
                            <a href="https://www.youtube.com/watch?v=SlPhMPnQ58k" class="service-video-popup"><i class="fa fa-play"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Services Section End -->

    <!-- Cta Section Begin -->
    <section class="cta-section set-bg spad" data-setbg="{% static 'img/cta-bg.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Start your Journey with our exciting offers</h2>
                    <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <a href="#" class="primary-btn">Join With Us</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Cta Section End -->

    <!-- Class Section Begin-->
    <section class="class-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="section-title">
                                <h2>Our Class</h2>
                                <p>Our fitness experts can help you discover new training techniques and exercises that offer a dynamic and efficient full-body workout.</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <a href="#" class="primary-btn">View All Schedule</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="class-item">
                                <div class="tab-content">
                                    <div class="tab-pane fade-in active" id="class-1" role="tabpanel">
                                        <div class="single-class-item">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <img src="{% static 'img/class/class-1.jpg' %}" alt="">
                                                </div>
                                                <div class="col-lg-5 offset-lg-1">
                                                    <div class="class-text">
                                                        <h3>Body Building</h3>
                                                        <p>Body Building, the original LES MILLS barbell class, will sculpt, tone and strengthen your entire body, fast! Focusing on low weight loads and high repetition movements, you'll burn fat, gain strength and quickly produce lean body muscle conditioning. All the benefits of working with weighs in one action packed, highly physical class. The world’s fastest way to get in shape. Find your Lessmills Bodypump class here.</p>
                                                        <a href="#" class="schedule-btn">View Schedule <i class="fa fa-long-arrow-right"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="class-2" role="tabpanel">
                                        <div class="single-class-item">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <img src="{% static 'img/class/class-1.jpg' %}" alt="">
                                                </div>
                                                <div class="col-lg-5 offset-lg-1">
                                                    <div class="class-text">
                                                        <h3>Racing runing</h3>
                                                        <p>Body Building, the original LES MILLS barbell class, will sculpt, tone and strengthen your entire body, fast! Focusing on low weight loads and high repetition movements, you'll burn fat, gain strength and quickly produce lean body muscle conditioning.</p>
                                                        <a href="#" class="schedule-btn">View Schedule <i class="fa fa-long-arrow-right"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="class-3" role="tabpanel">
                                        <div class="single-class-item">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <img src="{% static 'img/class/class-1.jpg' %}" alt="">
                                                </div>
                                                <div class="col-lg-5 offset-lg-1">
                                                    <div class="class-text">
                                                        <h3>Yoga Fitness</h3>
                                                        <p>Body Building, the original LES MILLS barbell class, will sculpt, tone and strengthen your entire body, fast! Focusing on low weight loads and high repetition movements, you'll burn fat, gain strength and quickly produce lean body muscle conditioning.</p>
                                                        <a href="#" class="schedule-btn">View Schedule <i class="fa fa-long-arrow-right"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="class-author">
                                <ul class="nav" role="tablist">
                                    <li>
                                        <a data-toggle="tab" class="active" href="#class-1" role="tab">
                                            <div class="author-text">
                                                <img src="{% static 'img/class/author-1.jpg' %}" alt="">
                                                <h5>Body building</h5>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a data-toggle="tab" href="#class-2" role="tab">
                                            <div class="author-text">
                                                <img src="{% static 'img/class/author-2.jpg' %}" alt="">
                                                <h5>Racing runing</h5>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Class Section End -->
{% endblock contenido %}