{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Club Fitness Management">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Club Fitness | Control de Membresías</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
</head>

<body style="background-color: #151515;"> 
    
    <header class="header-section" style="position: fixed !important; top: 0; left: 0; width: 100%; z-index: 999999 !important; background-color: #0a0a0a !important; box-shadow: 0px 4px 15px rgba(0,0,0,0.6); padding: 15px 0;">
        <div class="container">
            <div class="logo">
                <a href="{% url 'inicio_socios' %}">
                    <img src="{% static 'img/logo.png' %}" alt="Club Fitness">
                </a>
            </div>
            <div class="nav-menu">
                <nav class="mainmenu mobile-menu">
                    <ul>
                        <li class="active"><a href="{% url 'inicio_socios' %}">Inicio</a></li>
                        <li><a href="{% url 'registrar_socio' %}">Registrar Socio</a></li>
                        <li><a href="{% url 'lista_socios' %}">Lista de Socios</a></li>
                        <li><a href="{% url 'registrar_evaluacion' %}">Evaluación Médica</a></li>
                        <li><a href="{% url 'reportes_ingresos' %}">Reportes e Ingresos</a></li>
                    </ul>
                </nav>
                <div class="nav-right">
                    <a href="/admin/" style="color: #ffffff; font-weight: 700; font-size: 14px; text-transform: uppercase;">
                        <i class="fa fa-user" style="color: #f34e3a; margin-right: 5px;"></i> Acceder
                    </a>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    
    <main>
        {% block contenido %}
        {% endblock contenido %}
    </main>

    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/mixitup.min.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>